<div class="hero-unit">
	<h1>Welcome to OMR Demo</h1>
	<p>
		Here's the home page.
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	</p>
	<p>
		<%= link_to "Sign Up Now!", "http://onemonthrails.com", class: "btn btn-large btn-primary" %>
	</p>
</div>